simulation/sim_final/*.o
simulation/sim_final/predictor
simulation/sim_final/eval_info
simulation/sim_final/get_eval_info.sh

simulation/data/data_info/*
simulation/data/generated/*
simulation/machine_learning_method/mlp/models/analyze_data/*.png

simulation/ALL/*
simulation/LONG_SERVER/*
simulation/LONG_MOBILE/*
simulation/SHORT_SERVER/*
simulation/SHORT_MOBILE/*

CBP-16-Simulation/cbp16sim/src/simpython/random_forest_models/*