sim_final/*.o
sim_final/predictor
sim_final/eval_info
sim_final/get_eval_info.sh

data/data_info/*
data/generated/*
machine_learning_method/mlp/models/analyze_data/*.png

ALL/*
LONG_SERVER/*
LONG_MOBILE/*
SHORT_SERVER/*
SHORT_MOBILE/*
